@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
}

/* Header Styles */

/* Navbar Styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: 700;
  font-size: 2.5rem;
}
.nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* Banner styles */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 3.5rem;
}
.banner-img {
  width: 100%;
}
/* Teams and features styles */
.teams {
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 73px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}
#features {
  color: #ff900e;
}
#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -80px;
}
#exp-year {
  font-size: 4rem;
  font-weight: 700;
}
.featured-architect img {
  width: 100%;
}

/* Features section */

#feature-section-title {
  border-left: 8px solid #ff900e;
  padding-left: 21px;
}
.feature-card .feature-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.features {
  gap: 140px;
}

.feature-card {
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.205);
  margin-bottom: 20px;
  border-radius: 12px;
}

/* Facts card */
.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-description {
  max-width: 540px;
}

/* Sponsor styles */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
  filter: grayscale(100%);
}

/* Responsive Media Query */

@media (max-width: 576px) {
  .navbar,
  .nav-link,
  .teams,
  .features {
    flex-direction: column;
  }
  .teams-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 20px;
  }
  .facts-container,
  .sponsor-companies {
    justify-items: center;
    gap: 25px;
  }

  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}

/* Medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .our-features {
    margin-left: 50px auto;
  }
  .sponsor-companies,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    grid-area: 50px;
    justify-items: center;
    gap: 30px;
  }
  #experience-badge {
    margin-top: 20px;
    margin-left: 20px;
  }
}
